In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
C:\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
import warnings
warnings.simplefilter("ignore")

In [6]:
df = pd.read_excel("C:/Users/A405179/Desktop/Time series forecasting/Details_Table_new_updated.xlsx")

In [7]:
df.columns

Index(['PART_NO', 'PART_NAME', 'CLAIM_CATEGORY', 'COM_FIELD1', 'COM_FIELD2',
       'COM_FIELD3', 'BUSINESS_UNIT', 'CASE_NO', 'MAIN_OP',
       'CLAIM_HANDLING_DECISION', 'CLAIM_REG_DATE', 'CLAIM_STATUS_DETAIL',
       'DES_AREA', 'FGRP4', 'JOB_NO', 'REP_DATE', 'REPAIR_ID', 'REP_ORDER_NO',
       'REP_BA_ORGAN', 'REP_CNTRY', 'REP_DEALER', 'REP_REGION',
       'TOT_CLAIM_PAYMENT_SEK', 'VEH_AGE_CLAIM', 'MILEAGE_KM_CLAIM',
       'CHASSIS_ID', 'CHASSIS_NO', 'CHASSIS_SERIES', 'CHASSIS_TYPE',
       'CUST_NAME', 'DEL_CNTRY', 'DEL_DEALER', 'ENGINE_ASSEMB_DATE',
       'ENGINE_FAMILY', 'ENGINE_HP', 'ENGINE_MK', 'INS_DATE',
       'LAST_KNOWN_MILEAGE_KM', 'LAST_KNOWN_REP_DATE', 'PRODUCT_ID_CHAR',
       'PRODUCT_TIS_BIN', 'VEH_ASSEMB_DATE', 'VEH_ASSEMB_MONTH', 'VEH_MODEL',
       'VEH_TYPE', 'VIN'],
      dtype='object')

In [8]:
claims = df['CHASSIS_NO'].groupby([df["REP_DATE"].dt.year, df["REP_DATE"].dt.month]).agg('count').values

In [9]:
claims

array([  4,   6,   9,  11,  38, 122, 104, 121,  89,  74,  71,  77,  92,
        88,  78,  79,  76,  77,  83,  84, 105, 104,  87, 101, 144, 111,
       116, 128, 148, 127, 162, 120, 112, 115, 109, 122, 102, 108, 102,
       133, 157, 132, 160, 169, 206, 213, 222, 270, 290, 376, 361, 397,
       436, 396, 420, 402, 413, 333, 324, 410, 383, 450, 404, 430, 353,
       354, 330, 305, 328, 282, 260, 302, 299, 279, 257, 276, 308, 321,
       304, 305, 340, 308, 284, 320, 296, 296, 268, 267, 258, 219, 233,
       224, 227, 214, 238, 212, 175,  96], dtype=int64)

In [10]:
len(claims)

98

In [11]:
dates = pd.date_range(start="2014-01-01",end="2022-02-01",freq='MS')

In [12]:
claims_df = pd.DataFrame({"Claim date":dates,"No. of Claims":claims})

In [13]:
claims_df.head()

  Claim date  No. of Claims
0 2014-01-01              4
1 2014-02-01              6
2 2014-03-01              9
3 2014-04-01             11
4 2014-05-01             38

In [14]:
claims_df.to_csv("C:/Users/A405179/Desktop/Time series forecasting/Updated_data_new_new.csv")